@page "/CrearUsuario"
@rendermode InteractiveServer
@using TallerModel

<PageTitle>Usuarios</PageTitle>

<h3>Crear Usuario</h3>

<form>
    <fieldset>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" @bind="usuarioaCrear.Nombre">
        </div>

        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Apellido </label>
            <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido" @bind="usuarioaCrear.Apellido">
        </div>

            <div class="mb-3">
                <label for="puestoSelect" class="form-label">Puesto de Trabajo</label>
                <select id="puestoSelect" class="form-select" @bind="usuarioaCrear.Puesto">
                    <option value="">Seleccione un puesto</option>
                    @foreach (var rango in Puestos)
                    {
                        <option value="@rango">@rango</option>
                    }
                </select>

            </div>
        <div class="mt-3">
            <a href="/Usuarios" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="false">Volver</a>
            <!-- Trigger Modal Confirmar Usuario -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#guardar"> Crear </button>
            <!-- Modal Confirmar Usuario -->
            <div class="modal fade" id="guardar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="guardarLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="guardarLabel">Confirmar Cambios</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Volver"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-auto">
                                            <label for="inputName" class="col-form-label">Nombre</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control" type="text" value="@usuarioaCrear.Nombre" aria-label="Disabled input example" disabled readonly>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center mt-1">
                                        <div class="col-auto">
                                            <label for="inputApellido" class="col-form-label">Apellido</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control" type="text" value="@usuarioaCrear.Apellido" aria-label="Disabled input example" disabled readonly>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center mt-1">
                                        <div class="col-auto">
                                            <label for="inputPuesto" class="col-form-label">Puesto</label>
                                        </div>
                                        <div class="col-auto">
                                            <select class="form-select" aria-label="Disabled select example" disabled>
                                                <option selected>@usuarioaCrear.Puesto</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="/Usuarios" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="false" @onclick="@(()=> Update(usuarioaCrear))">Confirmar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </fieldset>
</form>


@code {
    public Usuario usuarioaCrear = new Usuario();
    public Usuario userCreado; 
   
    private List<Rango> Puestos = Enum.GetValues(typeof(Rango)).Cast<Rango>().ToList();


    protected override async Task OnInitializedAsync()
    {
    }

    public void Update(Usuario unUsuario)
    {
        UsuarioServices usuarioServices = new UsuarioServices();
        Usuario userCreado = usuarioServices.Update(unUsuario);

    }
}