@page "/ModificarUsuario"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@using TallerModel

<!-- Titulo Modificar Usuario -->

<h3>ModificarUsuario</h3>

<!-- Formulario para Modificar Nombre, Apellido y Puesto -->
<form>
    <fieldset>
        <!-- Campo de formulario para Modificar Nombre-->
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Nombre</label>
            <input type="text" class="form-control" @bind="usuarioBuscadoID.Nombre">
        </div>

        <!-- Campo de formulario para Modificar Apellido-->
        <div class="mb-3">
            <label for="disabledTextInput" sclass="form-label">Apellido </label>
            <input type="text" class="form-control" @bind="usuarioBuscadoID.Apellido">
        </div>

        <!-- Campo de formulario para Modificar DNI-->
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">DNI</label>
            <input type="text" class="form-control" @bind="usuarioBuscadoID.Dni">
        </div>

        <!-- Campo de formulario para Modificar CUIL-->
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">CUIL</label>
            <input type="text" class="form-control" @bind="usuarioBuscadoID.Cuil">
        </div>

        <!-- Campo de formulario para Modificar Teléfono-->
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Teléfono</label>
            <input type="text" class="form-control" @bind="usuarioBuscadoID.Telefono">
        </div>

        <!-- Campo de formulario para Modificar Email-->
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Email</label>
            <input type="text" class="form-control" @bind="usuarioBuscadoID.Email">
        </div>

        <!-- Campo de formulario para Modificar Contaseña-->
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Contraseña</label>
            <input type="text" class="form-control" @bind="usuarioBuscadoID.Contraseña">
        </div>

        <!-- Campo de formulario para Selector de Puesto-->
        <div class="mb-3">
            <label for="puestoSelect" class="form-label">Puesto de Trabajo</label>
            <select id="puestoSelect" class="form-select" @bind="usuarioBuscadoID.Puesto">
                <!-- Muestra opciones de la lista de Rangos-->
                <option value="">Seleccione un puesto</option>
                @foreach (var rango in PuestosModif)
                {
                    <option value="@rango">@rango</option>
                }
            </select>
        </div>
        <div class="mt-3">
            <!-- Botón volver redirige a /Usuarios -->
            <a href="/Usuarios" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="false">Volver</a>
            <!-- Botón Abre Ventana Emergente Confirmar Cambios -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#guardar"> Modificar </button>
            <!-- Ventana Emergente Confirmar Cambios Datos de Usuario Modificado -->
            <div class="modal fade" id="guardar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="guardarLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!--Encabezazado Ventana Emergente Titulo y Boton para Cerrar -->
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="guardarLabel">Confirmar Cambios</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Volver"></button>
                        </div>
                        <!-- Cuerpo Encabezado Confirmar Cambios Datos de Usuario Modificado -->
                        <div class="modal-body">
                            <div class="container">
                                <!-- Formulario Desactivado para mostrar las propiedades con los cambios del Usuario-->
                                <form>
                                    <!-- Campo del Formulario Desactivado para mostrar el Nombre-->
                                    <div class="row mb-3">
                                            <label for="inputName" class="col-form-label col-sm-4">Nombre</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" value="@usuarioBuscadoID.Nombre" aria-label="Disabled input example" disabled readonly>
                                        </div>
                                    </div>
                                    <!-- Campo del Formulario Desactivado para mostrar el Apellido -->
                                    <div class="row mb-3">
                                        <label for="inputApellido" class="col-form-label col-sm-4">Apellido</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" value="@usuarioBuscadoID.Apellido" aria-label="Disabled input example" disabled readonly>
                                        </div>
                                    </div>

                                    <!-- Campo del Formulario Desactivado para mostrar el DNI -->
                                    <div class="row mb-3">
                                        <label for="inputDNI" class="col-form-label col-sm-4">DNI</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" value="@usuarioBuscadoID.Dni" aria-label="Disabled input example" disabled readonly>
                                        </div>
                                    </div>

                                    <!-- Campo del Formulario Desactivado para mostrar el CUIL -->
                                    <div class="row mb-3">
                                        <label for="inputCUIL" class="col-form-label col-sm-4">CUIL</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" value="@usuarioBuscadoID.Cuil" aria-label="Disabled input example" disabled readonly>
                                        </div>
                                    </div>

                                    <!-- Campo del Formulario Desactivado para mostrar el Teléfono -->
                                    <div class="row mb-3">
                                        <label for="inputTelefono" class="col-form-label col-sm-4">Teléfono</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" value="@usuarioBuscadoID.Telefono" aria-label="Disabled input example" disabled readonly>
                                        </div>
                                    </div>

                                    <!-- Campo del Formulario Desactivado para mostrar el Email -->
                                    <div class="row mb-3">
                                        <label for="inputTelefono" class="col-form-label col-sm-4">Email</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" value="@usuarioBuscadoID.Email" aria-label="Disabled input example" disabled readonly>
                                        </div>
                                    </div>

                                    <!-- Campo del Formulario Desactivado para mostrar la Contraseña -->
                                    <div class="row mb-3">
                                        <label for="inputTelefono" class="col-form-label col-sm-4">Contraseña</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" value="@usuarioBuscadoID.Contraseña" aria-label="Disabled input example" disabled readonly>
                                        </div>
                                    </div>

                                    <!-- Campo del Formulario Desactivado para mostrar el Puesto -->
                                    <div class="row mb-3">
                                        <label for="inputPuesto" class="col-form-label col-sm-4">Puesto</label>
                                        <div class="col-sm-6">
                                            <select class="form-select" aria-label="Disabled select example" disabled>
                                                <option selected>@usuarioBuscadoID.Puesto</option>
                                            </select>
                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                        <!-- Boton para Confirmar Cambios-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="false" @onclick="@(() => { Update(usuarioBuscadoID);})">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="mt-3">
    
</div>

@code {
    [SupplyParameterFromQuery] //indica que el valor de usuarioID se debe obtener de la URL, recibido por la selección de usuarios
    public int usuarioId { get; set;}

    public Usuario? usuarioBuscadoID; //guarda el usuario seleccionado en la pagina anterior
    public Usuario? userModificado; //guarda el usuario modificado 
    private List<Rango>? PuestosModif = Enum.GetValues(typeof(Rango)).Cast<Rango>().ToList(); //obtiene en una lista los distintos rangos para mostrar como opción
    UsuarioServices usuarioServices = new UsuarioServices(); //instancia al intermediario entre el Usuario y la base de datos 


    protected override async Task OnParametersSetAsync()
    {
        if (usuarioId != 0) 
        {
            usuarioBuscadoID = usuarioServices.GetById(usuarioId); //al inicializarse la pagina, se guarda en la variable el Usuario seleccionado en la pagina anterior
        }

    }


    public void Update(Usuario unUsuario)
    {  
        //selecciona el usuario a modificar y lo modifica campo a campo con lo ingreado por el usuario
        userModificado = usuarioServices.GetById(usuarioId); 
        userModificado.Nombre = unUsuario.Nombre;
        userModificado.Apellido = unUsuario.Apellido;
        userModificado.Puesto = unUsuario.Puesto;

        usuarioServices.Update(userModificado); //Intermediario guarda en la base de datos el usuario modificado
        
        Navigation.NavigateTo("/Usuarios"); //Redirige a la pagina usuarios
    }
}